@charset "UTF-8";
/* ****************************************************************** 

	--module.css--

	機能拡張用スタイルシート

	このファイルを直接読み込むのは禁止します。
	必ず内容をstyle.cssにコピーしてから使用してください。

	1. jQuery setting
		1-1. Fade styles
		1-2. SlideToggle styles
		1-3. Accordion styles
		1-4. Tab styles
		1-5. TinyTips styles
		1-6. Cycle styles

	2. Other setting
		2-1. ImgIcon styles
		2-2. FloatList styles
		2-3. LinkBlock styles
		2-4. SearchResult styles
		2-5. Flowlist styles
		2-6. Tagcloud styles

****************************************************************** */

/*==================================================================
	1. jQuery setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. Fade styles
-------------------------------------------------------------------*/
.fade {
	display:block;
	border:1px solid #CCC;
	height:20px;
	padding:10px;
	color:#06C;
	font-size:13px;
	cursor:pointer;
}
.fade span {
	display:block;
	height:16px;
	padding-top:4px;
	background:url(/img/module/icon_plus_minus.png) no-repeat 100% 0;
	line-height:1;
}
.fade.active span { background-position:100% 100%; }
.fadeBox {
	display:none;
	position:absolute;
	top:60px;
	z-index:9999;
	width:723px;
	padding:20px;
	border:1px solid #CCC;
	background:#FFF;
}


/* ------------------------------------------------------------------
	1-2. SlideToggle styles
-------------------------------------------------------------------*/
.slideToggle {
	display:block;
	border:1px solid #CCC;
	height:20px;
	padding:10px;
	color:#06C;
	font-size:13px;
	cursor:pointer;
}
.slideToggle span {
	display:block;
	height:16px;
	padding-top:4px;
	background:url(/img/module/icon_plus_minus.png) no-repeat 100% 0;
	line-height:1;
}
.slideToggle.active span { background-position:100% 100%; }
.toggleBox {
	display:none;
	padding:20px 20px 0;
}


/* ------------------------------------------------------------------
	1-3. Accordion styles
-------------------------------------------------------------------*/
.accordionWrapper {
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
}
.accordion {
	display:block;
	border-top:1px solid #CCC;
	height:20px;
	padding:10px;
	color:#06C;
	font-size:13px;
	cursor:pointer;
}
.accordion span {
	display:block;
	height:16px;
	padding-top:4px;
	background:url(/img/module/icon_plus_minus.png) no-repeat 100% 0;
	line-height:1;
}
.accordion.active span { background-position:100% 100%; }
.accordionBox {
	display:none;
	padding:20px;
	border-top:1px solid #CCC;
	border-bottom:none;
}


/* ------------------------------------------------------------------
	1-4. Tab styles
-------------------------------------------------------------------*/
.tab {
	height:30px;
	border-left:1px solid #DDD;
	background:url(/img/common/line_separate.gif) repeat-x 0 100%;
}
.tab li { display:inline; }
.tab li a {
	display:block;
	float:left;
	width:150px;
	height:28px;
	border-top:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background-color:#F5F5F5;
	text-align:center;
	text-decoration:none;
	line-height:28px;
}
.tab .active a {
	border-bottom:1px solid #FFF;
	background-color:#FFF;
	color:#444;
	text-decoration:none;
}
.tabContents { width:100%; }
.tabBox {
	display:none;
	padding:20px;
}


/* ------------------------------------------------------------------
	1-5. TinyTips styles
-------------------------------------------------------------------*/
.tinyTip .content {
	width:310px;
	padding:10px;
	border:6px solid #E2E2E2;
	background:#FFF;
	color:#333;
}
.tinyTip .bottom {
	width:342px;
	height:14px;
	background:url(/img/tinytips/arrow_tinytips.png) no-repeat;
	/* for IE7〜8 */
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/tinytips/arrow_tinytips.png',sizingMethod='scale')\9;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/tinytips/arrow_tinytips.png',sizingMethod='scale');
	background-image:none\9;
	*background-image:none;
}


/* ------------------------------------------------------------------
	1-6. Cycle styles
-------------------------------------------------------------------*/
#cycleSlider {
	position:relative;
	overflow:hidden;
	width:100%;
	height:255px;
}
#cycleSlider img {
	display:block;
	width:100%;
	height:255px;
}
#cycleDirection {
	position:absolute;
	top:114px;
	z-index:100;
	width:745px;
	margin:0 10px;
}
#cycleDirection li {
	display:block;
	width:30px;
	height:30px;
	cursor:pointer;
}
#cycleDirection span {
	display:block;
	overflow:hidden;
	width:30px;
	height:30px;
	text-indent:-9999px;
}
#cycleDirection #cyclePrev {
	float:left;
	background:url(/img/module/btn_cycle_prev.png) no-repeat;
}
#cycleDirection #cycleNext {
	float:right;
	background:url(/img/module/btn_cycle_next.png) no-repeat;
}
#cyclePager {
	clear:both;
	width:440px;
	margin:15px auto 30px;
	/margin-bottom:0;
	text-align:center;
}
#cyclePager li {
	display:inline;
	float:left;
	width:100px;
	margin:0 5px;
}
#cyclePager a {
	display:block;
	width:96px;
	border:2px solid #999;
	cursor:default;
}
#cyclePager a:hover,
#cyclePager .activeSlide a { border:2px solid #06C; }
#cyclePager img {
	display:block;
	width:96px;
	height:32px;
}


/*==================================================================
	2. Other setting
===================================================================*/

/* ------------------------------------------------------------------
	2-1. ImgIcon styles
-------------------------------------------------------------------*/
.li {
	padding-left:10px;
	background:url(/img/module/icon_li.gif) no-repeat 0 .35em;
}
ul.li, ul.li {
	padding-left:0px;
	background-image:none;
}
.li li a {
	padding-left:10px;
	background:url(/img/module/icon_li.gif) no-repeat 0 .35em;
}
.help {
	padding-left:18px;
	background:url(/img/module/icon_help.gif) no-repeat 0 .2em;
}
.pdf {
	padding:6px 0 6px 20px;
	background:url(/img/module/icon_pdf.gif) no-repeat 0 .4em;
}
.blank {
	padding-right:18px;
	background:url(/img/module/icon_blank.gif) no-repeat 100% 0;
}
.example {
	display:block;
	padding:0 0 0 15px;
	background:url(/img/module/icon_example.gif) no-repeat 0 .2em;
	color:#666;
	font-size:11px;
}
.back {
	margin:12px 0;
	padding-top:8px;
	background:url(/img/module/line_dot.gif) repeat-x 0 0;
	text-align:center;
}
.back a {
	padding-left:10px;
	background:url(/img/module/icon_li_back.gif) no-repeat 0 .3em;
}
.more {
	padding-left:10px;
	background:url(/img/module/icon_li.gif) no-repeat 0 .35em;
	font-size:77%;
}


/* ------------------------------------------------------------------
	2-2. FloatList styles
-------------------------------------------------------------------*/
.float7 li {
	float:left;
	width:11%;
}
.float6 li {
	float:left;
	width:16%;
}
.float5 li {
	float:left;
	width:19%;
}
.float4 li {
	float:left;
	width:24%;
}
.float3 li {
	float:left;
	width:32%;
}
.float2 li {
	float:left;
	width:49%;
}


/* ------------------------------------------------------------------
	2-3. LinkBlock styles
-------------------------------------------------------------------*/
.linkBlock {
	overflow:hidden;
	/zoom:1;
	width:100%;
	margin-right:-5px;
	padding:5px;
	color:#CCC;
}
.linkBlock li {
	display:block;
	float:left;
	width:238px;
	margin:0 5px 5px 0;
	padding:5px;
	border:1px solid #CCC;
	background:#FFF;
}
.linkBlock li:hover { background:#EEF5FF; }
.linkBlock li a { display:block; }


/* ------------------------------------------------------------------
	2-4. SearchResult styles
-------------------------------------------------------------------*/
.searchResult li { line-height:1; }
.searchResult .siteTitle {
	font-size:110%;
	text-decoration:underline;
}
.searchResult .siteDescription {
	margin:3px 0px !important;
	color:#444;
}
.searchResult .siteHost, .searchResult .siteHost a { color:#7777CC; }
.searchResult .siteHost a {
	color:#7777CC !important;
	text-decoration:underline;
}
.searchResult .siteHost em { color:#008000; }
.searchResult li { margin-bottom:16px; }

/* Search styles
-------------------------------------------------------------------*/
.searchUtil {
	margin-bottom:2em;
	padding-bottom:4px;
	background:#FFF url(/img/common/line_dot.gif) repeat-x 0 100%;
}
.searchUtil dt, .searchUtil dd { display:inline; }
.searchUtil dt strong {
	font-size:150%;
	color:#F60;
	font-family:Helvetica, Arial, sans-serif;
	margin-right:0.3em;
}


/* ------------------------------------------------------------------
	2-5. Flowlist styles
-------------------------------------------------------------------*/
.flowlist {
	width:100%;
	margin-bottom:15px;
}
.flowlist li {
	float:left;
	width:32%;
	margin:0 4px;
	padding:10px 0 6px 0;
	border-bottom:8px solid #EEE;
	text-align:center;
}
.flowlist .now {
	border-bottom:8px solid #FC0;
	font-weight:bold;
}


/* ------------------------------------------------------------------
	2-6. Tagcloud styles
-------------------------------------------------------------------*/
.tagCloud li { display:inline; }
.tagCloud .level1 a {
	color:#3E5B71;
	font-size:167%;
	font-weight:bold;
}
.tagCloud .level2 a {
	color:#668EAC;
	font-size:136%;
	font-weight:bold;
}
.tagCloud .level3 a {
	color:#668EAC;
	font-size:122%;
	font-weight:bold;
}
.tagCloud .level4 a {
	color:#87A6BE;
	font-size:114%;
}
.tagCloud .level5 a {
	color:#A7BECF;
	font-size:92%;
}
.tagCloud .level6 a {
	color:#C7D5E0;
	font-size:77%;
}
.tagCloud a:hover { color:#000; }
